<%# consumer/app/views/videos/index.html.erb %>
<div class="main-content">
  <%# <h1>Video Gallery</h1> %>

  <div class="video_container">
    <% @videos.each do |video| %>
      <%= link_to video_stream_path(video[:filename]), class: "video-link-wrapper", target: "_blank" do %>
      <div class="video-item">
        <div class="card">
            <video class="preview-video" muted preload="metadata">
              <source src="<%= video[:url] %>" type="video/mp4">
              Your browser doesn't support HTML5 video.
            </video>
          <div class="card-body">
            <h5 class="card-title"><%= video[:name] %></h5>
            <p class="card-text">
              <small class="text-muted">
                <%= video[:size] %> • <%= time_ago_in_words(video[:created_at]) %> ago
              </small>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>